{
  "openapi": "3.0.3",
  "info": {
    "title": "BG Miranda Digital API",
    "description": "API documentation for the **BG Miranda Digital** application.\n\n**Authentication:** Most endpoints require the `api_key` header. If using Swagger UI, click the **Authorize** button at the top of the page and enter your API key before trying any endpoint.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://miranda-eats-now.base44.app/api",
      "description": "API server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/entities/CardapioSemanal": {
      "get": {
        "tags": [
          "Entities - CardapioSemanal"
        ],
        "summary": "List CardapioSemanal records",
        "operationId": "list_CardapioSemanal",
        "description": "Retrieve a list of CardapioSemanal records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CardapioSemanal"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - CardapioSemanal"
        ],
        "summary": "Create a CardapioSemanal record",
        "operationId": "create_CardapioSemanal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardapioSemanal"
              },
              "example": {
                "dia": "segunda",
                "prato_principal": "Example prato_principal",
                "semana": "Example semana"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardapioSemanal"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - CardapioSemanal"
        ],
        "summary": "Delete multiple CardapioSemanal records",
        "operationId": "delete_many_CardapioSemanal",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "dia": "segunda"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/CardapioSemanal/bulk": {
      "post": {
        "tags": [
          "Entities - CardapioSemanal"
        ],
        "summary": "Bulk create CardapioSemanal records",
        "operationId": "bulk_create_CardapioSemanal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CardapioSemanal"
                }
              },
              "example": [
                {
                  "dia": "segunda",
                  "prato_principal": "Example prato_principal",
                  "semana": "Example semana"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CardapioSemanal"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - CardapioSemanal"
        ],
        "summary": "Bulk update CardapioSemanal records",
        "operationId": "bulk_update_CardapioSemanal",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CardapioSemanal"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "dia": "segunda",
                  "prato_principal": "Example prato_principal",
                  "semana": "Example semana"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CardapioSemanal"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/CardapioSemanal/update-many": {
      "patch": {
        "tags": [
          "Entities - CardapioSemanal"
        ],
        "summary": "Update many CardapioSemanal records by query",
        "operationId": "update_many_CardapioSemanal",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "dia": "segunda"
                },
                "data": {
                  "$set": {
                    "dia": "segunda"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/CardapioSemanal/{CardapioSemanal_id}": {
      "get": {
        "tags": [
          "Entities - CardapioSemanal"
        ],
        "summary": "Get a CardapioSemanal record by ID",
        "operationId": "get_CardapioSemanal",
        "parameters": [
          {
            "name": "CardapioSemanal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardapioSemanal"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - CardapioSemanal"
        ],
        "summary": "Update a CardapioSemanal record",
        "operationId": "update_CardapioSemanal",
        "parameters": [
          {
            "name": "CardapioSemanal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardapioSemanal"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardapioSemanal"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - CardapioSemanal"
        ],
        "summary": "Delete a CardapioSemanal record",
        "operationId": "delete_CardapioSemanal",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "CardapioSemanal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/CardapioSemanal/{CardapioSemanal_id}/restore": {
      "put": {
        "tags": [
          "Entities - CardapioSemanal"
        ],
        "summary": "Restore a deleted CardapioSemanal record",
        "operationId": "restore_CardapioSemanal",
        "parameters": [
          {
            "name": "CardapioSemanal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardapioSemanal"
                }
              }
            }
          }
        }
      }
    },
    "/entities/Contato": {
      "get": {
        "tags": [
          "Entities - Contato"
        ],
        "summary": "List Contato records",
        "operationId": "list_Contato",
        "description": "Retrieve a list of Contato records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contato"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Contato"
        ],
        "summary": "Create a Contato record",
        "operationId": "create_Contato",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contato"
              },
              "example": {
                "nome": "Example nome",
                "whatsapp": "Example whatsapp"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contato"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Contato"
        ],
        "summary": "Delete multiple Contato records",
        "operationId": "delete_many_Contato",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "nome": "Example nome"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Contato/bulk": {
      "post": {
        "tags": [
          "Entities - Contato"
        ],
        "summary": "Bulk create Contato records",
        "operationId": "bulk_create_Contato",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Contato"
                }
              },
              "example": [
                {
                  "nome": "Example nome",
                  "whatsapp": "Example whatsapp"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contato"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Contato"
        ],
        "summary": "Bulk update Contato records",
        "operationId": "bulk_update_Contato",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Contato"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "nome": "Example nome",
                  "whatsapp": "Example whatsapp"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contato"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Contato/update-many": {
      "patch": {
        "tags": [
          "Entities - Contato"
        ],
        "summary": "Update many Contato records by query",
        "operationId": "update_many_Contato",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "nome": "Example nome"
                },
                "data": {
                  "$set": {
                    "nome": "Example nome"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Contato/{Contato_id}": {
      "get": {
        "tags": [
          "Entities - Contato"
        ],
        "summary": "Get a Contato record by ID",
        "operationId": "get_Contato",
        "parameters": [
          {
            "name": "Contato_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contato"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Contato"
        ],
        "summary": "Update a Contato record",
        "operationId": "update_Contato",
        "parameters": [
          {
            "name": "Contato_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contato"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contato"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Contato"
        ],
        "summary": "Delete a Contato record",
        "operationId": "delete_Contato",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "Contato_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Contato/{Contato_id}/restore": {
      "put": {
        "tags": [
          "Entities - Contato"
        ],
        "summary": "Restore a deleted Contato record",
        "operationId": "restore_Contato",
        "parameters": [
          {
            "name": "Contato_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contato"
                }
              }
            }
          }
        }
      }
    },
    "/entities/Avaliacao": {
      "get": {
        "tags": [
          "Entities - Avaliacao"
        ],
        "summary": "List Avaliacao records",
        "operationId": "list_Avaliacao",
        "description": "Retrieve a list of Avaliacao records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Avaliacao"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Avaliacao"
        ],
        "summary": "Create a Avaliacao record",
        "operationId": "create_Avaliacao",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Avaliacao"
              },
              "example": {
                "nota_restaurante": 0,
                "nota_comida": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Avaliacao"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Avaliacao"
        ],
        "summary": "Delete multiple Avaliacao records",
        "operationId": "delete_many_Avaliacao",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "nota_restaurante": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Avaliacao/bulk": {
      "post": {
        "tags": [
          "Entities - Avaliacao"
        ],
        "summary": "Bulk create Avaliacao records",
        "operationId": "bulk_create_Avaliacao",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Avaliacao"
                }
              },
              "example": [
                {
                  "nota_restaurante": 0,
                  "nota_comida": 0
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Avaliacao"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Avaliacao"
        ],
        "summary": "Bulk update Avaliacao records",
        "operationId": "bulk_update_Avaliacao",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Avaliacao"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "nota_restaurante": 0,
                  "nota_comida": 0
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Avaliacao"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Avaliacao/update-many": {
      "patch": {
        "tags": [
          "Entities - Avaliacao"
        ],
        "summary": "Update many Avaliacao records by query",
        "operationId": "update_many_Avaliacao",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "nota_restaurante": 0
                },
                "data": {
                  "$set": {
                    "nota_restaurante": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Avaliacao/{Avaliacao_id}": {
      "get": {
        "tags": [
          "Entities - Avaliacao"
        ],
        "summary": "Get a Avaliacao record by ID",
        "operationId": "get_Avaliacao",
        "parameters": [
          {
            "name": "Avaliacao_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Avaliacao"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Avaliacao"
        ],
        "summary": "Update a Avaliacao record",
        "operationId": "update_Avaliacao",
        "parameters": [
          {
            "name": "Avaliacao_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Avaliacao"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Avaliacao"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Avaliacao"
        ],
        "summary": "Delete a Avaliacao record",
        "operationId": "delete_Avaliacao",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "Avaliacao_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Avaliacao/{Avaliacao_id}/restore": {
      "put": {
        "tags": [
          "Entities - Avaliacao"
        ],
        "summary": "Restore a deleted Avaliacao record",
        "operationId": "restore_Avaliacao",
        "parameters": [
          {
            "name": "Avaliacao_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Avaliacao"
                }
              }
            }
          }
        }
      }
    },
    "/entities/User": {
      "get": {
        "tags": [
          "Entities - User"
        ],
        "summary": "List User records",
        "operationId": "list_User",
        "description": "Retrieve a list of User records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - User"
        ],
        "summary": "Create a User record",
        "operationId": "create_User",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              },
              "example": {
                "email": "Example email",
                "full_name": "Example full_name",
                "role": "admin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/entities/User/{User_id}": {
      "get": {
        "tags": [
          "Entities - User"
        ],
        "summary": "Get a User record by ID",
        "operationId": "get_User",
        "parameters": [
          {
            "name": "User_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - User"
        ],
        "summary": "Update a User record",
        "operationId": "update_User",
        "parameters": [
          {
            "name": "User_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - User"
        ],
        "summary": "Delete a User record",
        "operationId": "delete_User",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "User_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key",
        "description": "Your API key. Obtain it from your user profile or via `User.me()` in the app SDK."
      }
    },
    "schemas": {
      "CardapioSemanal": {
        "type": "object",
        "properties": {
          "dia": {
            "type": "string",
            "enum": [
              "segunda",
              "terca",
              "quarta",
              "quinta",
              "sexta"
            ],
            "description": "Dia da semana"
          },
          "prato_principal": {
            "type": "string",
            "description": "Prato principal do dia"
          },
          "acompanhamentos": {
            "type": "string",
            "description": "Acompanhamentos (arroz, feijão, fritas, etc.)"
          },
          "sobremesa": {
            "type": "string",
            "description": "Sobremesa do dia (opcional)"
          },
          "preco": {
            "type": "number",
            "description": "Preço em reais (opcional)"
          },
          "semana": {
            "type": "string",
            "description": "Identificador da semana ex: 2026-W23"
          },
          "id": {
            "type": "string",
            "description": "Unique record identifier"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Record creation timestamp"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Record last update timestamp"
          },
          "created_by_id": {
            "type": "string",
            "description": "ID of the user who created the record"
          }
        },
        "required": [
          "dia",
          "prato_principal",
          "semana"
        ],
        "description": "CardapioSemanal entity"
      },
      "Contato": {
        "type": "object",
        "properties": {
          "nome": {
            "type": "string",
            "description": "Nome do cliente"
          },
          "whatsapp": {
            "type": "string",
            "description": "Número de WhatsApp com DDD (ex: 11999998888)"
          },
          "ativo": {
            "type": "boolean",
            "description": "Se deve receber os envios",
            "default": true
          },
          "id": {
            "type": "string",
            "description": "Unique record identifier"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Record creation timestamp"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Record last update timestamp"
          },
          "created_by_id": {
            "type": "string",
            "description": "ID of the user who created the record"
          }
        },
        "required": [
          "nome",
          "whatsapp"
        ],
        "description": "Contato entity"
      },
      "Avaliacao": {
        "type": "object",
        "properties": {
          "nome": {
            "type": "string",
            "description": "Nome do cliente"
          },
          "nota_restaurante": {
            "type": "number",
            "description": "Nota do restaurante de 1 a 5"
          },
          "nota_comida": {
            "type": "number",
            "description": "Nota da comida de 1 a 5"
          },
          "comentario": {
            "type": "string",
            "description": "Comentário opcional do cliente"
          },
          "prato_avaliado": {
            "type": "string",
            "description": "Prato que o cliente comeu (opcional)"
          },
          "id": {
            "type": "string",
            "description": "Unique record identifier"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Record creation timestamp"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Record last update timestamp"
          },
          "created_by_id": {
            "type": "string",
            "description": "ID of the user who created the record"
          }
        },
        "required": [
          "nota_restaurante",
          "nota_comida"
        ],
        "description": "Avaliacao entity"
      },
      "User": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email of the user"
          },
          "full_name": {
            "type": "string",
            "description": "The full name of the user"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "user"
            ],
            "description": "The role of the user in the app"
          },
          "id": {
            "type": "string",
            "description": "Unique record identifier"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Record creation timestamp"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Record last update timestamp"
          },
          "created_by_id": {
            "type": "string",
            "description": "ID of the user who created the record"
          }
        },
        "required": [
          "role",
          "full_name",
          "email"
        ],
        "description": "User entity"
      }
    }
  },
  "tags": [
    {
      "name": "Entities - CardapioSemanal",
      "description": "CRUD operations for CardapioSemanal records"
    },
    {
      "name": "Entities - Contato",
      "description": "CRUD operations for Contato records"
    },
    {
      "name": "Entities - Avaliacao",
      "description": "CRUD operations for Avaliacao records"
    },
    {
      "name": "Entities - User",
      "description": "CRUD operations for User records"
    }
  ]
}